.header {
    background: #121214;

    margin-top: 7.2rem;
    display: flex;
    justify-content: center;
    gap: 1.2rem;

    margin-bottom: 5.3rem;
}
.header h1 span {
    color: var(--purple-dark);
}
h1 {
    color: var(--blue);
    font-weight: bold;
    font-size: 4rem;
}
h2 {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--blue);
}
.input {
    display: flex;
    justify-content: center;
}
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.task{
    display: flex;
    justify-content: space-between;
    width: 73.6rem;
    padding-bottom: 2.4rem;
    margin-top: 6.4rem;

    border-bottom: 1px solid var(--gray-400);
}
.task span {
    padding: 2px 8px;
    color: var(--gray-200);
    background: var(--gray-400);
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: bold;

    margin-left: 5px;
}

.button {
    height: 5.2rem;
    width: 9rem;

    border: 0;
    border-radius: 8px;
    background: var(--blue-dark);
    color: var(--gray-100);
    font-size: 1.4rem;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    cursor: pointer;

    margin-left: 8px;
}

.input {
    color: var(--gray-300);
    background: var(--gray-500);
    border: 0;
    border-radius: 8px;
    border: 1px solid var(--gray-700);

    padding: 1.6rem;

    width: 63.8rem;
    height: 5.4rem;
}
.input:focus + div{
    color: var(--purple-dark);
}