.task {
    background: var(--gray-500);
    color: var(--gray-100);
    font-size: 1.4rem;

    width: 73.6rem;
    height: 7.2rem;
    border: 1px solid var(--gray-300);
    border-radius: 8px;

    padding: 5.2rem 1.6rem;
}